#Не вдалося додати готовий бінарний файл, так як GitHub обмежує розмір файлів які можна додати
#Треба зібрати весь проект за допомогою PyInstaller 
#потім готовий файл типу application можна запускати зробивши з нього додаток для робочого столу так як показано нижче


[Desktop Entry]
Version=1.0
Name=GreenData
Comment=Start
Exec=/home/user/PycharmProjects/GreenData/dist/GreenData
Terminal=false
Type=Application
